{:lein {:profile "+cljs"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"

   :modules
   {:main
    {:entries
     [demo.core
      demo.crud_test]}}
   :devtools
   {:http-root "public"
    :http-port 8020}
   }}}
